[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
flask = "*"
bootstrap-flask = "*"
flask-wtf = "*"
python-dotenv = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test-pug-class = "python3 -m unittest test_pug.TestPug.test_pug_instance_successful"
test-parameterization = "python3 -m unittest test_pug.TestPug.test_pug_instance_exceptions"
test-mocking = "python3 -m unittest test_pug.TestPugWithSetup.test_build_pug test_pug.TestPugWithSetup.test_check_for_puppy_dinner"