{% from 'bootstrap5/form.html' import render_form %}

{% extends 'base.html' %}

{% block content %}
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-6">
          <div class="bs-component">
            <h1>Here is your pug!</h1>
            <p class="lead">Fill in the form to build your own pug!</p>
            {{ render_form(form) }}
          </div>
        </div>
        <div class="col-lg-6">
            <div class="bs-component">
              <img src="static/img/index-pug@300x.png" class="img-fluid" style="max-width: 50%; height: auto">
            </div>
          </div>
     </div>
</div>
{% endblock %}